
<div id="input1">
    <br><br>
    <!-- <mat-form-field>Hello</mat-form-field> -->
    <form action="">
            <mat-form-field class="example-full-width">
                    <input id="item" matInput placeholder="Enter to-do item" #newTodo  />
                  </mat-form-field>
       &nbsp; <button mat-raised-button color="primary" (click)="addTodo(newTodo.value); newTodo.value=''">SUBMIT</button>
    </form>
</div>
<br><br>
<div id="disp"> 
        <!-- <mat-list role="list" color="primary">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list> -->
        <table id="" >
                
                <tr>
                        <th> <h3>LABEL</h3> </th>
                        <th> <h3>PRIORITY</h3> </th>
                        <th> <h3>DONE</h3> </th>
                        <th> <h3>ACTIONS</h3> </th>
                </tr>
                <tr *ngFor="let todo of todos">
                        <td>{{todo.label}}</td>
                        <td>{{todo.priority}}</td>
                        <td>{{todo.done ? '&#10003;' : '&#10005;' }}</td>
                        <td>
                                <button mat-raised-button  (click)="deleteTodo(todo)">delete</button>
                        </td>
                </tr>
        </table>
</div>
